@CHARSET "UTF-8";

body {
	background-color: #F9F9F9;
	font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
    font-style: normal;
}

h1 {
	color: #9c7a97;
}

a:link { color: #AFE4E8; }
a:visited { color: #AFE4E8; }
a:hover { color: hotpink; }
a:active { color: #AFE4E8; }

#page {
	width: 90%;
	margin: 10px auto;
	border: 1px solid gray;
}

#header {
	color: gray;
	min-height: 120px;
	background-color: white;
	border: 1px solid #FFFFF9;
	padding: 5px;
}

#menu {
	color: #AFE4E8;
	background-color: #aeaeae;
	min-height: 30px;
	padding: 5px;
	vertical-align: middle
}

#content {
	color: gray; 
	min-height: 400px;
	padding: 5px 2px;
}

#footer {
	color: white;
	height: 50px;
	background-color: #303633;
	font-size: x-small;
	text-align: center;
	vertical-align: middle;
}
